@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica,
    Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-blue-color: #15489f;
  --main-red-color: #ed232b;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Ant Design */
.ant-breadcrumb-link {
  @apply !h-full;
}

.ant-popover-content {
  @apply !max-w-80 !max-h-96 !overflow-auto !rounded-lg;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.ant-popover-inner {
  @apply !shadow-none;
}

.ant-modal-close {
  @apply !rounded-full;
}

/* Custom Class */
.page {
  @apply min-h-screen min-w-full overflow-hidden bg-white text-black;
}

.folder-sidebar-title {
  @apply font-bold text-xs whitespace-nowrap overflow-hidden;
}

.button-hover {
  @apply flex text-sm items-center gap-2 w-full whitespace-nowrap overflow-hidden hover:bg-gray-200 rounded-lg p-2 cursor-pointer transition-all duration-200;
}

.icon-hover {
  @apply w-8 h-8 p-2 flex justify-center items-center rounded-full hover:bg-gray-300 cursor-pointer transition;
}

.text-clip-nowrap {
  @apply flex text-sm items-center gap-2 w-full overflow-hidden whitespace-nowrap;
}
